.footer  {
	color: gray;
	font-size: 80%;
	border-top: 1px solid #a0a0a0; 
	text-align: center;
	padding-top: 5px;
	height: 45px; 
	margin-right: 10px;
}
.push  {
	padding-top: 5px;
	height: 45px; 
}

.footer a{
	font-weight: bold;
	color: #3C54C3;
	text-decoration: none;
}

img {
	border: none;
}

.file {
	font-weight: bold;
}

h1.title {
	font-style: italic;
	color: #1C237B;
}
* {
margin: 0;
padding: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

html, body {
	height: 100%;
}

body {
font: 12px sans-serif; 
color: #222;
margin: 0;
padding: 0;
line-height: 1.5em;
padding-left: 10px;
background-color: #fff;
}

.login {
color: #2E2E2E;
padding: 5px;
line-height: 1.5em;
padding-left: 10px;
font-size: 150%;
font-weight: bold;
margin: auto;
}

img { border: none }
ul {  padding: 0; margin: 0;}
li { list-style-type: none;}

a {
color: #024294;
background-color: transparent;
text-decoration: none;
}
a:hover { color: #000; }

#wrap {
margin: 0 auto;
width: 770px;
}

#header {
height: 50px;
}
#header h1 {
color: #222;
font-size: 200%;
padding-top: 20px;
margin: 0;
font-weight: 100;
}
#header h1 a { font-weight: 100; text-decoration: none; color : #fff; }
#header h2 {
color: #eee;
font-size: 120%;
margin: 0;
font-weight: 100;
}
h1 {
color: #2E2E2E;
font-size: 150%;
margin: 0;
font-weight: bold;
}
#menu {
background : #eee;
padding: 5px 8px 5px 8px;
font-size: 11px;
margin-bottom: 10px;
font-size: 110%;
}

.current {
  font-weight: bold;
}

#right {
float: right;
width: 530px;
background: #fff;
border-top: 1px solid #CFCFCF;
padding: 10px;
margin-top: 10px;
}
#right h2 { font-size: 12px; margin: 5px 0 5px 0; }
#right h2 a{ text-decoration: none; }

#left { 
width: 190px; 
background: #fff;
border-top: 1px solid #CFCFCF;
margin-top: 10px;
padding: 10px;
}
#left h2 { font-size: 100%; margin: 10px 0 5px 5px; }
#left ul { padding-left: 10px; }



#clear { clear: both;  }

.okMessage {
	color: green;
	font-weight: bold;
	font-size: 110%;
	padding-bottom: 20px;
}	

.action {
	padding: 3px;
} 

ul.help {  padding-left: 10px;  vertical-align: center;}
ol.help {  padding-left: 20px;  vertical-align: center;}
li.help {list-style-type: decimal;
} 

div.help { padding: 10px }	

/* Tables */
table {
	background: #fff;
	border:1px solid #ccc;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
table#search {
  border: none;
  width: auto;
}

th {
	margin: 2px;
	padding: 2px;
	border: 1px solid #fff;
	text-align: center;
	background:#2E2E2E;
	color: #fff;
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background: #ccc;
	color: #333;
	text-decoration: none;
}
table tr td {
	background: #fff;
	padding: 4px;
	text-align: left;
	vertical-align: center;
}

.last {
border-right: 1px solid #ccc;
}

table#results {
 border: 1px solid #ccc;
}

table#results td {
 border-right: 1px solid #ccc;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.button {
  text-align: center;
}


div.results {
  margin: 10px;
  padding: 5px;
  color: gray;
  font-size: 105%;
}

/* Paging */
div.paging {
	background:#fff;
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 5%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 5px 5px;
}
fieldset legend {
	background:#fff;
	color: #2E2E2E;
	font-size: 140%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 5px 5px;
}
fieldset fieldset legend {
	font-size: 100%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 100%;
/* 	padding-right: 20px; */
}
input, textarea {
	clear: both;
	font-size: 90%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	
}
select {
	clear: both;
	font-size: 90%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 90%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 90%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
tr.error {
	cursor:pointer;
	color: red;
	font-weight: bold;
}
tr.error:hover{
	color: #800000;
}

p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

.small {
  font-size: 70%;
}

.description {
  font-size: 105%;
  margin-left: 30px;
  margin-top: 30px;
}

p {
  padding: 5px;
  width: 80%;
}

pre {
  background-color: #EEEEEE;
  border: 1px solid #BBBBBB;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  width: 400px;
  
}
